@charset "UTF-8"
    *{marin:0px; padding:0;}


body{
    background-color: lightgrey;
    max-width: 1920px;
    height: 100%;
    
}

nav { 
    z-index: 1;
    position: fixed;
    top: 0px;
    left: -10px;
    width: 100%;
    text-align:center;
    font-family: avenir;
    color: white;

}

p, h3{
    margin-top: -20px;
    font-family: avenir;
    color: white;
    text-align: center;
   
}



h3 {
    font-size: 30px;  
}
    

#section1, #section2, #section3, #section4, #section5 {
z-index: 3;
position:absolute;
width:300px;
height: 100%;
margin-left: -10px;
margin-top: 5%;
margin-right: 20px;
}


#section2 {
 margin-left: 300px;
}

#section3 {
    margin-left: 600px;
}

#section4 {
    margin-left: 900px;
}

#section5 {
    margin-left: 1200px;

}



#toggleparagraph1, #toggleparagraph2, #toggleparagraph3, #toggleparagraph4, #toggleparagraph5 {
   display: none;
}


#section1box {
      margin-top: -.5%;
     width: 0px;
    position:absolute;
    z-index: 2;
    margin-left: 0px;
    height: 100%;
  background-color: #fdef39;
}


#section2box {
      margin-top: -.5%;
     width: 0px;
    position:absolute;
    z-index: 2;
    margin-left: 300px;
   
    height: 100%;
  background-color: #67c9f3;
}



#section3box {
      margin-top: -.5%;
     width: 0px;
    position:absolute;
    z-index: 2;
    margin-left: 600px;
   
    height: 100%;
  background-color: #aad698;
}



#section4box {
    margin-top: -.5%;
     width: 0px;
    position:absolute;
    z-index: 2;
    margin-left: 900px;
   
    height: 100%;
  background-color: #fbac2e;
}


#section5box {
      margin-top: -.5%;
     width: 0px;
    position:absolute;
    z-index: 2;
    margin-left: 1200px;
   
    height: 100%;
  background-color: #f9c3d1;
}



footer { position:fixed;
z-index: 2;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    bottom: 0px;

    width:100%;
    height:60px;
    
    font-family: avenir;

    line-height: 25px
    
    
}

#returnButton {
    
z-index: 1;
    position:fixed;
    top: 10px;
    left:10px;
    font-family: avenir;
    
    
    width:150px;
    height:30px;
    padding-top:10px;
    text-align:center;
    font-weight: bold;
}

#stoptalking p{
    z-index: 1;
    position: fixed;
    top: 40px;
    left: 200px;
    font-family: avenir;
    font-weight: bold;
}


#stoptalking p:hover {
   text-decoration:underline;
    color: indianred;
}

a:link, a:visited { text-decoration: none;
        color: #00C3D0;}

footer a:link, footer a:visited { 
   
    text-decoration: none;
        color: #545554;}

a:hover, footer a:hover { text-decoration: underline;}